.moviesOrder {
  display: flex;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(6, 1fr); */
  padding-top: 2em;
  padding-bottom: 2em;
}
.moviesOrder a {
  font-size: 1.3em;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.filmDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filmDiv h1 {
  margin-bottom: 1em;
}
