img{
  width:100%;
  height: auto;
}
h1 {
  text-shadow: 5px 5px #777777;
  font-size: 4em;
  text-align: center;
  margin-top: 1em;
}

*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: grid;
}

.backgroundimg{
  grid-area: 1/1/-1/-1;
}

.router{
  grid-area: 1/1/-1/-1;
}
